.homes {
  
   grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    justify-items: center;
    margin-top: 15rem;
    margin-bottom: 15rem;

    grid-gap: 4rem;
    &__single {
        min-height: 40rem;
        width: 30rem;
        background-color: #f9f7f6;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        img{
            width: 100%;
            grid-row: 1/4;
            grid-column: 1/-1;
        }
        h4{
            font-weight:400;
            color: white;
            font-size: 1.6rem;
            background-color: #101d2c;
            padding: 1.25rem;
            grid-column: 1/-1;
            width: 90%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin:auto;
            transform: translateY(-75%);

        }
         p{
            color:#6d5d4b;
            font-size: 1.5rem;
         
            
        }
        button{
            background-color: $color-primary;
            color: white;
            padding: 1.8rem 3rem;
            border: none;
            border: none;
            transition: .2s;
            grid-row:7/8;
            grid-column: 1/-1;
            &:hover{
                background-color: $color-primary-dark;
            }
            &:focus{
                outline: none;
            }
        }
          
          
        .cazzo1{
            grid-row: 5/6;
            grid-column:1/2;
            display: grid;
            justify-content: center;

        }
        .cazzo2{
            grid-row: 5/6;
            grid-column:3/4;
        display: grid;
    justify-content: center;
        }
        .cazzo3{
            grid-row: 6/7;
            grid-column:1/2;
        display: grid;
    justify-content: center;
        }
        .cazzo4{
            grid-row: 6/7 !important;
            grid-column:3/4 !important;
        display: grid;
    justify-content: center;
        }

    }
}

